<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="liman_işletme_otomasyonu.Properties.Settings.c__otomasyonConnectionString"
            connectionString="Data Source=LAPTOP-LB6TOUOH;Initial Catalog=&quot;c# otomasyon&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>